@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #0F0F0F;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
}

.header{
    margin-bottom: 100px;
    padding: 20px 0;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text{
    color: #757575;
    text-transform: uppercase;
}

.header-btn{
    margin-right: 50px;
    padding: 5px 20px;
    background-color:#E48D8B;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid transparent;
}

.header-btn:hover{
    color: #E48D8B;
    background: #f5e6e6;
    border: 1px solid #E48D8B;;
}

.learn .container{
    display: flex;
    justify-content: space-between;
}

.learn__inner{
    max-width: 494px;
}

.learn__inner-title{
    font-size: 49px;
    line-height: 59px;
    margin: 50px 0 18px;
}

.learn__inner-text{
    color:#464646;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 13px;
}

.learn__price{
    margin-bottom: 40px;
}

.learn__new-price{
    display: inline-block;
    font-size: 31px;
    line-height: 38px;
    letter-spacing: 0.5px;
    font-weight: 700;
    margin-right: 6px;
}

.learn__old-price{
    color: #757575;
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
    text-decoration-line: line-through;
}

.learn__inner-btn{
    background:#E48D8B;
    color: #FFFFFF;
    padding: 8px 32px;
    text-decoration: none;
    margin-right: 12px;
    border: 1px solid transparent;
    transition: 0.5s;
}

.learn__inner-btn:hover{
    color: #E48D8B;
    background: #f5e6e6;
    border: 1px solid #E48D8B;;
}

.learn__inner-watch{
    color: #757575;
    text-decoration: none;
    background: #EDEDED;
    padding: 8px 24px;
    border: 1px solid transparent;
    transition: 0.5s;
}

.learn__inner-watch:hover{
    color: #EDEDED;
    background: #757575;
    border: 1px solid #EDEDED;
}

.learn-img-link{
    width: 50%;
}

.learn-img{
    width: 100%;
    margin-bottom: 122px;
}

.facts .container{
    display: flex;
    justify-content: space-between;
}

.fact{
    max-width: 334px;
}

.fact-img{
    margin-bottom: 16px;
}

.fact-title{
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 13px;
}

.fact-description{
    margin-bottom: 205px;
}

.teacher{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}


.teacher__info{
    max-width: 500px;
}

.teacher__info-title{
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

.include{
    background:#017CFF;
    color: #fff;
    margin-bottom: 95px;
}

.include__inner{
    display: flex;
    justify-content: space-between;
}

.include__top{
    margin-bottom: 36px;
}

.include__bottom{
    display: flex;
    margin-left: calc(100% - 59px);
}

.include__fact{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.include__inner-title{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 47px;
}

.include__fact-title{
    font-weight: 700;
    font-size: 80px;
    line-height: 64px;
    margin-bottom: 33px;
}

.list{
    margin-bottom: 180px;
    margin-top: 40px;
}

.list-title{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 64px;
}

.list__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list__inner-item{
    background: #DAD9D9;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.list__inner-item:hover{
    cursor: pointer;
}

.list__inner-hint{
    width: 500px;
    margin: 5px 0 20px;
    background: #fff3f3aa;
    display: none;
}

.hint__show{
    display: block;
}

.hint__show-arrow{
    rotate: 180deg;
}

.list__inner-text{
    margin: 18px 24px;
    font-size: 19px;
    line-height: 30px;
}

.list__inner-arrow{
    margin-right: 25px;
    max-width: 16px;
}

.skills-title{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 66px;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 110px;
}

.skill{
    max-width: 250px;
    margin-bottom: 65px;
}

.review{
    background: #194677;
    color: #fff;
    
}

.review .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__sign{
    margin-top: 96px;
    margin-bottom: 25px;
}
.review__text{
    max-width: 646px;
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 25px;
    text-align: center;
}

.review__text-color{
    color: #E48D8B;    
}

.review__photo{
    padding-bottom: 8px;
}

.review__name{
    padding-bottom: 96px;
}

.questions-title{
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 55px;
}

.question{
    display: flex;
    border-bottom: 1px solid #DBDBDB;
    padding: 26px 0;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.question:hover{
    cursor: pointer;
}


.question__inner{
    display: flex;
    justify-content: center;
    margin-bottom: 129px;
}

.question-answer{
    margin-bottom: 20px;
    font-size: 16px;
    background: #fff3f3aa;
    border-bottom: 1px solid #DBDBDB;
    width: 800px;
}

.answer{
    display: none;
}

.answer__show{
    display: block;
}

.answer__show-arrow{
    rotate: 180deg;
}

.start{
    background: #E48D8B;
}

.start-title{
    font-size: 38px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    margin-bottom:64px;
    padding-top: 121px;
}

.start__inner{
    display: flex;
    justify-content: center;
}

.start__card{
    background:#FFFFFF;
    color: #464646;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 430px;
    margin-bottom: 140px;
    box-shadow: 0px 5px 5px rgba(44, 52, 53, 0.347);
}

.start__card + .start__card{
    margin-left: 40px;
}

.start__card-img{
    height: 32px;
    margin-top: 51px;
    margin-bottom: 15px;
}

.start__card-title{
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 25px;
}

.start__card-description{
    text-align: center;
    margin: 0 80px 13px;
}

.start__new-price{
    display: inline-block;
    color:#017CFF;
    font-size: 31px;
    line-height: 38px;
    letter-spacing: 0.5px;
    margin-right: 8px;
    margin-bottom: 35px;
}

.start__old-price{
    display: inline-block;
    color: #757575;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.start-btn{
    font-size: 18px;
    color: #fff;
    padding: 8px 32px;
    background:#017CFF;
    margin-bottom: 56px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.5s;
}

.start-btn:hover{
    color: #017CFF;
    background: #fff;
    border: 1px solid #017CFF;
}

.start-list{
    margin-bottom: 33px;
}

.start-list-element{
    display: flex;
    margin-bottom: 9px;
}

.start-mark{
    margin-right: 8px;
}


.students__title{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 48px;
}

.student{
    background: #EDEDED;
    max-width: 355px;
}

.student + .student{
    margin-top: 32px;
}

.students__inner{
    display: flex;
    margin-bottom: 128px;
    justify-content: center;
}

.student-column + .student-column{
    margin-left: 32px;
}

.student-rank{
    margin: 32px 0 27px 32px;
}

.student-comment{
    margin: 0 32px 14px 32px;
}

.student-photo{
    margin: 0 12px 32px 32px;
}

.student-name{
    margin-bottom:32px;
}

.student-person{
    display: flex;
    align-items: center;
}

.footer{
    background:#FBFBFB;
    color: #0F0F0F;
}

.footer .container{
    display: flex;
    justify-content: space-between;
}

.footer-left, 
.footer-right{
    margin-top: 64px;
    margin-bottom: 70px;
}

.footer-logo{
    margin-bottom: 23px;
}

.footer-text{
    margin-bottom: 13px;
}

.footer-credits{
    font-size: 14px;
    line-height: 20px;
}

.footer-credits-name{
    color: #017CFF;
    text-decoration:underline;
}

.footer-right{
    display: flex;
    justify-content: space-between;
}

.footer__nav{
    display: flex;
    flex-direction: column;
}

.footer__nav + .footer__nav{
    margin-left: 100px;
}

.footer__nav-title{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B1B1B1;
    margin-bottom: 16px;
}

.footer__link{
    margin-bottom: 9px;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    color: #0F0F0F;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.footer__link:hover{
    color:#7e7e7e;
}

@media(max-width:1300px){
    .container{
        margin: 0 10px;
    }
}

@media(max-width: 1100px){
    .fact{
        max-width: 280px;
        margin-top: 80px;
    }
    .teacher__info-title{
        font-size: 25px;
    }
    .teacher__info-text{
        font-size: 16px;
    }
    .teacher-img{
        width: 50%;
    }
    .teacher-img + .teacher__info{
        margin-left: 15px;
    }
    .teacher__info + .teacher-img{
        margin-left: 15px;
    }
    .skill{
        width: 300px;
        margin: 0 15px 65px;
    }
    .skills-list{
        justify-content: center;
    }
    .skill-group{
        max-width: 800px;
        margin: 0 10px;
        display: flex;
    }
    .skills-title{
        text-align: center;
    }
}

@media(max-width:1000px){
    .learn__inner-title{
        font-size: 35px;
        margin-top: 0;
    }
    .learn__inner-text{
        font-size: 17px;
    }
    .learn-img-link{
        margin: auto 0;
        width: 100%;
    }
    .fact-description{
        font-size: 17px;
        margin-bottom: 70px;
    }
    .fact-title{
        font-size: 20px;
    }
    .teacher{
        margin-bottom: 50px;
    }
    .student{
        max-width: 300px;
    }
    .student-comment{
        font-size: 16px;
    }
}

@media(max-width: 950px){
    .footer-text{
        font-size: 16px;
    }
    .footer__link{
        font-size: 12px;
    }
    .footer__nav + .footer__nav{
        margin-left: 25px;
    }
    .question{
        width: 500px;
    }
    .start__card{
        max-width: 350px;
    }
    .start-title{
        padding-top: 70px;
    }
    .question,
    .question-answer{
        width: 500px;
    }
}

@media(max-width: 900px){
    .learn__inner{
        max-width: 350px;
        margin-right: 20px;
    }
    .fact + .fact{
        margin-left: 20px;
    }
    .include__fact-title{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .include__fact{
        margin-bottom: 20px;
    }
    .include__top{
        margin-bottom: 0;
    }
    .students__inner{
        display: flex;
        flex-wrap: wrap;
    }
    .student-column{
        display: flex;
        flex-wrap: wrap;
    }
    .student{
        min-height: 400px;
        margin-bottom: 20px;
    }
    .student + .student{
        margin-top: 0;
        margin-left: 15px;
    }
    .student-column + .student-column{
        margin-left: 0;
    }
}

@media(max-width: 750px){
    .footer-right{
        display: none;
    }
    .footer-left{
        margin: 30px 15px 20px;
    }
    .facts .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .fact{
        margin: 40px 80px 0 80px;
    }
    .fact:nth-child(1){
        margin-top: 80px;
        margin-left: 20px;
    }

    .fact-description{
        margin-bottom: 15px;
    }
    .teacher{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
    .teacher:nth-child(2){
        flex-direction: column-reverse;
    }
    .teacher-img{
        margin-bottom: 30px;
    }
    .review__sign{
        margin-top:40px;
    }
    .review__text{
        font-size: 18px;
    }
    .review__name{
        font-size: 16px;
        margin-bottom: 40px;
        padding-bottom: 0;
    }
    .start__card-title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .start__new-price{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .start__old-price{
        font-size: 16px;
    }
    .start__new-price{
        margin-left: 10px;
    }
    .start-plus{
        font-size: 15px;
    }

}

@media (max-width: 700px){
    .header-text{
        display: none;
    }
    .header-btn{
        margin-right: 10px;
    }
    .header-img{
        margin-left: 10px;
    }
    .learn .container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .learn-img-link{
        width: 80%;
    }
    .learn-img{
        margin-bottom: 30px;
    }
    .learn__inner{
        max-width: 400px;
        margin: 0 10px;
    }
    .fact{
        margin: 40px 30px 0 30px;
    }
    .list{
        margin-bottom: 70px;
    }
    .skills-title{
        font-size: 25px;
    }
    .skill-text{
        font-size: 15px;
    }
    .start__card{
        margin-bottom: 40px;
    }
    .start__inner{
        display: flex;
        flex-wrap: wrap;
    }
    .start__card + .start__card{
        margin-left: 0;
    }
    .student{
        max-width: 270px;
    }
    .student-comment{
        font-size: 14px;
    }
    .student-name{
        font-size: 16px;
    }
    .student-rank{
        margin-top: 15px;
    }
    .students__title{
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 30px;
        }
}

@media(max-width: 650px){
    .include__inner-title{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .include__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .include__fact{
        margin: 0 25px 20px;
    }
    .include{
        margin-bottom: 50px;
    }
    .list__inner-item,
    .list__inner-hint{
        width: 300px;
    }
    .list__inner-text{
        font-size: 16px;
        margin: 10px 5px 8px 10px;
    }
    .list__inner-arrow{
        margin-right: 8px;
    }
    .skill-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skill{
        margin-bottom: 35px;
    }
    .question-title,
    .question-answer{
        font-size: 16px;
        margin-left: 5px;
    }
    .question-arrow{
        margin-right: 5px;
        max-width: 16px;
    }
    .question,
    .question-answer{
        width: 400px;
    }
    .question__inner{
        margin-bottom: 50px;
    }
    .students__inner{
        margin-bottom: 50px;
    }
}

@media(max-width: 600px){
    .student-column{
        justify-content: center;
    }
    .student + .student{
        margin-left: 0;
    }
}

@media(max-width: 500px){
    .header{
        margin-bottom: 30px;
    }
    .learn__inner-title{
        font-size: 25px;
    }
    .learn__inner-text{
        font-size:15px;
    }
    .fact-description{
        font-size: 15px;
    }
    .teacher__info-text{
        font-size: 14px;
    }
    .include__fact-title{
        margin-bottom: 0;
    }
    .list-title{
        font-size: 30px;
        margin-bottom: 35px;
    }
    .list__inner-item,
    .list__inner-hint{
        width: 280px;
    }
    .review__text{
        font-size: 15px;
    }
    .question,
    .question-answer{
        width: 290px;
    }
    .start__card-description{
        margin: 0 20px 13px;
    }
    .start__bottom-img{
        display: none;
    }
}

@media(max-width:400px){

    .learn__inner-btn,
    .learn__inner-watch{
        display: block;
        margin: 0 20px 15px 20px;
    }
    .include__fact{
        margin: 0 55px 30px;
    }
    .skills-title{
        margin-right: 20px;
    }
    .question-top-img{
        display: none;
    }
    .questions-title{
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .start__card{
        max-width: 290px;
    }
    .question-answer{
        max-width: 280px;
        margin-left: 3px;
    }
}
